body {
    font-family: Arial, sans-serif;
}

.kanban-board {
    display: flex;
    gap: 20px;
}

.kanban-column {
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 25%;
    height: 80vh;
    /* Hauteur de la colonne */
    overflow-y: auto;
    /* Permet de défiler si les tâches sont trop nombreuses */
}

.kanban-column h4 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Style pour le lien "Connexion" en haut à droite */
.login-link {
    top: 10px;
    right: 10px;
    font-weight: bold;
    text-decoration: none;
}

.login-link:hover {
    text-decoration: underline;
}