<!DOCTYPE html>
<!--
    @author Lexkalli
-->
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modification de tâche</title>

    <!-- ================= CSS ================= -->
    <link rel="stylesheet" href="../stylesheets/card.css">
    <link rel="stylesheet" href="../stylesheets/navbar.css">

    <!-- ================= WEBSITE LOGO ================= -->
    <link rel="icon" href="../assets/images/logo.png">
</head>

<body>

    <nav class="my-nav-container">
        <a href="./user-view.html" class="my-nav-link" id="nav-annuler">Annuler</a>
    </nav>

    <div class="container">
        <div class="forms">
            <!-- Formulaire de modification -->
            <div class="form-container">
                <h2>Modifier la tâche</h2>
                <form id="updateTaskForm">
                    <!-- Nom et Priorité, tous deux requis (indiqués par *) -->
                    <label for="taskName">Nom <span style="color:red">*</span></label>
                    <input type="text" name="taskName" id="taskName" placeholder="Nom" required>

                    <label for="priority">Priorité <span style="color:red">*</span></label>
                    <select name="priority" id="priority" required>
                        <option value="basse">basse</option>
                        <option value="moyenne">moyenne</option>
                        <option value="haute">haute</option>
                        <option value="urgente">urgente</option>
                    </select>

                    <!-- Date d’échéance -->
                    <label for="dueDate">Date d'échéance&nbsp;?</label>
                    <input type="date" name="dueDate" id="dueDate">

                    <!-- Nouveau commentaire -->
                    <label for="newComment">Nouveau commentaire&nbsp;?</label>
                    <textarea name="newComment" id="newComment" placeholder="Entrez un commentaire"></textarea>

                    <!-- Bouton d'application -->
                    <button type="submit">Modifier</button>
                </form>
            </div>
        </div>
    </div>

    <!-- ================= SCRIPTS ================= -->
    <script src="../javascripts/helpers/jquery-1.10.2.min.js"></script>
    <script src="../javascripts/services/servicesHttp.js"></script>
    <script src="../javascripts/controllers/modifyCardCtrl.js"></script>
</body>

</html>