<!DOCTYPE html>
<!--
    @author Lexkalli
-->
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commentaires</title>

    <!-- ================= CSS ================= -->
    <link rel="stylesheet" href="../stylesheets/comments.css">
    <link rel="stylesheet" href="../stylesheets/navbar.css">
</head>

<body>

    <nav class="my-nav-container">
        <a href="./user-view.html" class="my-nav-link" id="nav-retour">Retour</a>
    </nav>

    <div class="container">
        <h2>Commentaires</h2>
        <div id="commentsContainer">
            <!-- Les commentaires seront affichés ici -->
        </div>
    </div>

    <!-- ================= SCRIPTS ================= -->
    <script src="../javascripts/helpers/jquery-1.10.2.min.js"></script>
    <script src="../javascripts/services/servicesHttp.js"></script>
    <script src="../javascripts/controllers/commentsCtrl.js"></script>
</body>

</html>